body {
    margin: 0;
    padding: 60px 0px;
    padding-bottom: 80px;
    height: 200%;
    background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    font-weight: 800;
  }
  #container {
    margin: 0px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .design {
    background-color: whitesmoke;
    padding: 60px 40px;
    margin: 20px auto;
    /* margin-bottom: 100px; */
    box-shadow: 1px 1px 15px rgba(1, 1, 1, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    font-size: large;
    font-weight: 700;
  }
  .design:hover {
    padding: 70px 40px;
    box-shadow: 1px 1px 15px rgba(1, 1, 1, 0.8);
  }
  
  button {
    padding: 10px;
    margin: 2px;
    width: 70px;
    background-color: #333333;
    color: white;
    border-radius: 5px;
    font-weight: 700;
  }
  button:hover {
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    background-color: #fee140;
    color: black;
  
    margin: 5px;
  }
  
  input {
    width: 70%;
    height: 30px;
  }
  
  @media only screen and (min-width: 700px) {
    body {
      padding-bottom: 250px;
    }
    #container {
      display: flex;
      flex-flow: row wrap;
      align-content: space-around;
    }
    #display_card,
    #box {
      margin-right: 50px;
    }
  }
  